.filter

  &__item
    padding: 20px 0
    border-bottom: 1px solid #f0f0f0

    .checkbox
      display: block
      margin: 10px 0

  &__caption
    margin-bottom: 16px
    font-size: 16px
    font-weight: bold
    line-height: 23px
