.contacts

  &__items
    display: flex
    justify-content: space-between

  &__item
    display: inline-block
    padding-right: 80px

    p
      margin: 10px 0

  &__caption
    font-size: 16px
    line-height: 23px
