.contacts

  &__items
    display: flex
    justify-content: space-between
    margin: 30px 0

  &__item
    display: inline-block
    padding-right: 100px

    p
      margin: 2px 0

  &__caption
    font-size: 16px
    line-height: 23px
    margin: 10px 0
