.input

  &_theme_parket
  &_theme_parket &__box
    display: block

  &_theme_parket &__box
    border: 1px solid lightgray

  &_theme_parket &__control
    box-sizing: border-box
    width: 100%
    border: 0
    padding: 8px 12px
    font-size: 14px
    line-height: 17px
    outline: 0
