.price

  &__text
    white-space: nowrap

  &__count
    font-size: 15px
    line-height: 18px
    font-weight: bold

  &__sum
    font-size: 13px
    line-height: 15px
    white-space: nowrap
    color: #777
    margin-top: 10px
