html
body
  background transparent
  font-size 100%
  margin 0
  padding 0
  vertical-align baseline

body
  line-height: 1

a
  text-decoration: none
  color: black


.page
  min-width: 1000px
  font-family: 'Ubuntu', Arial, sans-serif
  color: black
  font-size: 14px

  &__wrapper
    min-width: 960px
    padding: 0 20px
    overflow: hidden

  &__inner
    position: relative
    max-width: 1200px
    margin: 0 auto
