@import "reset.styl"

global-reset()

a
  color: black
  text-decoration: none

.page
  min-width: 1000px
  font-family: 'Ubuntu', Arial, sans-serif
  color: black
  font-size: 14px

  &__wrapper
    position: relative
    max-width: 1200px
    margin: 0 auto
    min-width: 960px
    padding: 0 20px

  &__caption
    font-family: "Gill Sans", Arial, sans-serif
    font-size: 40px
    font-weight: bold
    line-height: 48px
    margin: 18px 0
