.cart-preview
  cursor: pointer

  &__icon
    position: relative
    display: inline-block
    vertical-align: top
    margin-top: -2px

    &[data-count]:after
      content: attr(data-count)
      display: inline-block
      min-width: 12px
      padding: 0 4px
      height: 20px
      background-color: #8a553b
      color: white
      font-size: 12px
      line-height: 20px
      text-align: center
      border-radius: 50%
      margin-left: -16px
      margin-right: 6px
      vertical-align: bottom
