.cart-preview
  display: inline-block

  &_has-items
    cursor: pointer

  &__content
    display: inline-block
    padding-bottom: 2px
    margin-top: -2px
    white-space: nowrap

  &__icon
    position: relative
    display: inline-block
    vertical-align: top
    margin-top: -2px

  &__icon:after
  &__icon:before
    content: attr(data-count)
    position: absolute
    right: -4px
    top: 8px
    box-sizing: border-box

    overflow: hidden
    width: 0
    height: 0
    background-color: #8a553b

    color: white
    font-size: 12px
    line-height: 20px
    text-align: center

    border-radius: 50%

    transform: scale(0)

  &__icon:after
    transition: transform 0.6s cubic-bezier(.87,-.41,.19,2.44)

  &__icon:before
    transition: transform 0.3s cubic-bezier(.87,-.41,.19,2.44)

  &_has-items &__icon[data-count]:after
  &_touched &__icon[data-count]:before
    width: 20px
    height: 20px
    transform: scale(1)

  &__price-w
    display: inline-block
    opacity: 0
    transition: opacity 0.5s ease-in
    transition-delay: 0.3s

  &_has-items &__price-w
    opacity: 1
    margin-left: 12px

  &__price-i
    display: inline-block
    transition: max-width 0.3s ease-out
    max-width: 0
    opacity: 1

  &_has-items &__price-i
    max-width: 100px

  &_touched &__price-i
    opacity: 0
    transition: opacity 0.3s ease

  .rub
    margin-left: 4px
    display: none

  &_has-items .rub
    display: inline-block
