.cart

  table
    margin: 25px 0
    width: 100%
    border-top: 1px solid #e5e5e5

  th
  td
    border-bottom: 1px solid #e5e5e5
    width: 20%

    &:first-child
      width: 50%

  td
    padding: 20px

  th
    text-transform: uppercase
    font-size: 11px
    letter-spacing: 1px
    padding: 10px 20px
