.order-done
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1)

  box-sizing: border-box
  width: 960px
  padding: 195px 50px 50px 50px
  margin: 30px auto

  background-color: white
  background-image: url('bg.svg');
  background-repeat: no-repeat
  background-position: 50px 45px

  &__caption
    font-size: 40px
    font-weight: bold
    line-height: 48px

  &__text p
    margin: 10px 0

  &__text
  &__footer
    margin: 20px 0

  &__text
    line-height: 18px
    margin-right: 40%
