.cart-item
  position: relative
  padding: 0 0 0 60px

  &_size_big
    padding-left: 100px

  &:after
    content: ''
    display: block
    clear: both

  &__preview
    float: left
    width: 80px
    margin-left: -80px

    img
      max-width: 60px
      height: auto

  &_size_big &__preview
    width: 120px
    margin-left: -120px

    img
      max-width: 100px

  &__content
    padding: 0 20px

  &__caption
    line-height: 18px

  &__price
    font-weight: bold
    font-size: 15px
    margin: 8px 0

  &__props
    margin: 5px 0
    font-size: 13px
