.catalog-list
  margin: 20px 0

  &__row
    display: flex
    justify-content: space-between

  &__item
    display: inline-block
    vertical-align: top
    width: 33.3%

  &__caption
    max-width: 220px
