.button

  &_theme_parket
    box-sizing: border-box
    display: inline-block
    outline: 0
    cursor: pointer
    -webkit-appearance: none

  .button__text
    display: inline-block
    padding: 0 8px
