.footer
  width: 940px
  padding: 37px 0 25px 0
  margin: 0 auto

  &__copy
    display: inline-block
    vertical-align: top

  &__address
    display: inline-block
    margin-left: 129px
    margin-top: -12px
    line-height: 18px

  &__creator
    float: right
