.advantages_bright
  padding: 60px 0
  background-color: #f9f7f2

  .advantages__item_icon

    &_options:before
      background-image: url('options.svg')

    &_prices:before
      background-image: url('prices.png')

    &_consult:before
      background-image: url('consult.svg')

    &_delivery:before
      background-image: url('delivery.png')
