.order
  padding-left: 560px
  margin: 24px 0

  &:after
    content: ''
    display: block
    clear: both

  &__left
    box-sizing: border-box
    float: left
    width: 540px
    margin-left: -560px

  &__right
  &__left
    background: white
    padding: 20px

  &__section
    border-top: 1px solid #ebebeb

    &:first-child
      border-top: 0

  &__caption
    font-size: 22px
    line-height: 26px
    margin: 20px 0

  &__section:first-child &__caption
    margin-top: 0

  &__edit
    float: right
    line-height: 30px

    .link
      font-size: 14px
      line-height: 18px

  &__edit + &__caption
    margin-right: 100px

  &__submit
    margin-top: 30px

    .button
      width: 100%

  &__info
    color: #777
    font-size: 13px
    line-height: 15px
    margin: 15px 0 25px 0
