.popup-coverage-info
  width: 500px
  padding: 30px

  &__caption
    font-size: 22px
    line-height: 26px
    margin-bottom: 20px

  &__content p
    margin: 12px 0

  &__items
    display: flex
    justify-content: space-between

  &__items
    margin: 20px 0

  &__item
    display: inline-block
    vertical-align: top
    padding-top: 95px
    width: 40%
    background-repeat: no-repeat
    background-position: left top

    &_type_straight
      background-image: url('straight.svg')

    &_type_diagonal
      background-image: url('diagonal.svg')

  &__item-caption
    font-size: 16px
    line-height: 23px
    margin: 8px 0
