.main
  padding: 30px 0

  &__wrapper:after
    content: ''
    display: block
    clear: both

  &__aside
    float: left
    width: 220px
    padding-right: 20px

  &__content
    margin-left: 240px
