.button_theme_parket.button_view_plain
  border: 1px solid #8a553b
  border-radius: 3px
  padding: 8px 0

  color: #8a553b
  font-size: 12px
  line-height: 18px

  text-transform: uppercase
  letter-spacing: 1px
