.button_theme_parket.button_view_plain
  border-radius: 3px
  padding: 12px 0

  border: 0
  color: white
  background-color: #423525

  font-size: 12px
  line-height: 18px

  text-transform: uppercase
  letter-spacing: 1px

  .button__text
    padding: 0 24px
