.header
  border-bottom: 1px solid #ebebeb

  &__item
    display: inline-block
    vertical-align: middle

    @media phone
      &_desktop
        display: none

  &__icon
    margin-right: 6px

  &__phone
    font-size: 1.2em

  &__content
    display: flex
    justify-content: space-between

    height: 30px
    line-height: 30px
    padding: 25px 20px
    margin: 0 auto

    @media desktop
      width: 940px
