.card-info-suggest

  &:after
  &:before
    content: ' '
    display: table

  &__caption
    font-size: 16px
    margin-bottom: 20px

  &__list
    float: left
    width: 100%
    margin: -10px 0 0 -10px

  &__item
    display: inline-block
    vertical-align: top
    width: 180px
