.popup-details-info
  padding: 25px
  width: 500px

  &__caption
    font-size: 18px
    line-height: 24px
    font-weight: bold

  &__items
    padding: 20px 0

  &__item
    border-bottom: 1px solid #ccc
    white-space: nowrap
    font-size: 0
    padding: 8px 0

    &:first-child
      border-top: 1px solid #ccc

  &__term
  &__def
    display: inline-block
    width: 50%
    font-size: 14px
