.company-info
  border-top: 1px solid #e0e0e0

  &__item
    margin: 40px 0

  &__caption
    font-weight: 500
    font-size: 22px
    line-height: 26px

  &__subcaption
    font-weight: 500
    font-size: 16px
    line-height: 23px

  &__text
    line-height: 20px

  &__content
    margin: 0 160px 0 320px

    &:after
      content: ''
      display: block
      clear: both

  &__image
    float: left
    width: 290px
    margin-left: -320px

  &__address
    float: right
    width: 140px
    margin-right: -160px
