@font-face
  font-family: Rub
  src: url(rub.eot)
  src:
    url(rub.eot?#iefix) format("embedded-opentype"),
    url(rub.woff2) format("woff2"),
    url(rub.woff) format("woff")

.rub
  font-family: Arial, Rub, sans-serif
