.link
  position: relative
  color: #0073d1

  &:hover
    text-decoration: none

  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 100%
    margin-top: 3px
    border-top: 1px solid #0064b8
    opacity: 0.3
