.select

  &_theme_parket .button
    position: relative
    background: white
    width: 100%
    box-sizing: border-box
    border: 0
    outline: 1px solid lightgray
    padding: 8px 25px 8px 4px
    font-size: 14px
    line-height: 17px
    text-align: left

  &_theme_parket &__tick
    position: absolute
    right: 0
    top: 50%
    margin-top: -15px
    background: url('arrow.svg') center center no-repeat
