.textarea_theme_parket
  display: block
  width: 100%
  outline: 1px solid lightgray
  border: 0
  box-sizing: border-box
  width: 100%
  border: 0
  padding: 8px 12px
  font-size: 14px
  line-height: 17px
  resize: none
  height: 150px

  &:focus
    outline-offset: 0
