.range-slider
  margin: 16px 0 26px 0

  &_unit_rub .slider-container .back-bar .pointer-label:after
    content: ' ₽'
    font-family: Arial, Rub, sans-serif

  &_unit_mm .slider-container .back-bar .pointer-label:after
    content: ' мм'
