.popup-cart-list

  &__item
    position: relative
    border-bottom: 1px solid #e4e4e4
    padding: 16px 20px

    &:first-child
      border-top: @border-bottom

    &:hover
      background: #fafafa

  &__remove
    opacity: 0
    position: absolute
    right: 0
    top: 2px

    width: 32px
    height: 32px
    line-height: 32px
    text-align: center

    cursor: pointer
    transition: opacity 0.2s ease

  &__item:hover &__remove
    opacity: 1
