.certs
  padding-top: 95px
  margin: 25px 100px 25px 0
  background: url('bg.svg') no-repeat
  background-size: 135px
  line-height: 20px

  p
    margin: 25px 0 40px 0

  p&__img
    margin-bottom: 0
