.filter

  &__item
    position: relative
    padding: 20px 0
    border-top: 1px solid #f0f0f0

    &:first-child
      border-top: 0

    .aside-menu-item
      margin-left: -10px

  &__line
    display: block
    margin: 10px 0

  &__caption
    margin-bottom: 16px
    font-size: 16px
    font-weight: bold
    line-height: 23px

  &__clear
    position: absolute
    right: 0
    top: 21px
    opacity: 0
    transition: opacity 0.2s ease

  &__item:hover &__clear
    opacity: 1
