@import "reset.styl"

global-reset()

a
  color: black
  text-decoration: none

.page
  min-width: 1000px
  font-family: 'Ubuntu', Arial, sans-serif
  color: black
  font-size: 14px
  line-height: 20px
  font-weight: 500

  &__caption
    font-family: "Gill Sans", Arial, sans-serif
    font-size: 40px
    font-weight: bold
    line-height: 48px
    margin-top: 12px

    &_colorful
      background: linear-gradient(to right, rgb(249,110,0), rgb(252,188,86))
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

  &__container
    position: relative
    width: 940px
    padding: 0 20px
    margin: 0 auto

    &_fluid
      width: auto
      max-width: 1200px
      min-width: 960px
