.aside-menu
  padding-right: 2px
  margin: 12px 0

  &__link
    display: block
    color: #423525
    padding: 7px 10px
    font-size: 15px
    line-height: 21px

    &:hover
    .aside-menu-item_active > &
      color: white
      background-color: #8a553b
