.radio-group

  .button
    border: 2px solid #cecece
    color: #989898

    font-family: Ubuntu
    font-size: 14px

    border-radius: 0
    padding: 8px
    background: white
    outline: none

    cursor: pointer

    &_checked
      border-color: #c5a780
      color: #ba9360

  .radio + .radio
    margin-left: -2px

  .radio_checked
    z-index: 1

