.promo-slider
  position: relative
  padding-top: 75%

  &_ready
    padding-top: 0

  &__item
    position: absolute
    width: 100%
    height: 100%
    background-size: cover
    background-position: center center
    display: none

    .promo-slider_ready &
      display: block

  &__spin
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 32px
    height: 32px
    margin: auto

  &__item-inner
    position: absolute
    z-index: 0
    left: 0
    bottom: 0
    right: 0
    padding: 30px 20% 30px 30px

    color: white

    &:before
      content: ''
      position: absolute
      z-index: -1
      left: 0
      right: 0
      top: 0
      bottom: 0
      opacity: 0.6
      background-image: linear-gradient(to bottom, transparent 0%, black 100%)

  &__caption
    font-size: 40px
    font-family: "Gill Sans", serif;
    font-weight: bold
    line-height: 48px

    margin: 16px 0

  &__text
    font-size: 17px
    line-height: 24px
