.filter-class
  font-size: 0
  margin-left: -5px

  &__item
    position: relative
    display: inline-block
    width: 38px
    height: @width
    margin: 5px
    border: 1px solid #eaeaea
    border-radius: 100%
    cursor: pointer
    font-size: 14px
    line-height: 38px
    text-align: center
    white-space: nowrap

    &_checked
      background-color: #423525
      color: white

    input
      position: absolute
      left: -9999px
      visibility: hidden
