.brand-info
  padding-left: 240px
  margin: 40px 0

  &:after
    content: ''
    display: block
    clear: both

  &__aside
    float: left
    max-width: 125px
    margin-left: -190px

  p
    margin: 1em 0
