.nav-main
  border-bottom: 1px solid #ebebeb

  &__content
    display: flex
    justify-content: space-between
    width: 940px
    margin: 0 auto

  &__item
    display: inline-block
    line-height: 40px

  &__link
    display: inline-block
    color: #423525
