.suggs-toggler
  position: relative
  min-height: 100px
  margin: 20px 0

  &__header
  &__content
    display: none

  &__content
    margin: 10px 0

  &__header
    text-align: center

  &__toggler
    display: inline-block
    vertical-align: top
    cursor: pointer
    font-size: 16px
    line-height: 34px
    margin: 0 20px
    padding: 0 1px

    &_current
      border-bottom: 2px solid #423525
      cursor: default

  &__spin
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 32px
    height: 32px
    margin: auto

  &__item
    display: none

    &_current
      display: block

  &_js_inited &__spin
    display: none

  &_js_inited &__header
  &_js_inited &__content
    display: block
