.input

  &_type_phone &__control
    padding-left: 35px

  &_type_phone &__box
    position: relative

    &:before
      content: '+7 '
      position: absolute
      left: 12px
      top: 50%
      line-height: 18px
      margin-top: -9px
      color: #8f8f8f
      letter-spacing: 1px
