.catalog-all
  max-height: 600px
  overflow: hidden
  transition: max-height 0.4s linear
  column-count: 5

  &__item
    display: inline-block
    font-size: 14px

    box-sizing: border-box
    padding-right: 10px
    width: 100%

  &__caption
    padding: 20px 0 8px 0
    font-weight: bold

  &__brand
    font-size: 13px
    margin: 5px 0
