.card-details
  font-size: 16px
  line-height: 23px

  &__caption
    margin-bottom: 10px

  &__item
    border-bottom: 1px solid #ddd
    padding: 5px 0
    display: flex
    justify-content: space-between

    &:first-child
      border-top: 1px solid #ddd

  &__term
  &__def
    font-size: 14px
    line-height: 18px
    display: inline-block
    width: 40%

  &__term
    color: #999
