@import "../node_modules/fotorama/fotorama.css"

.fotorama__dot
.fotorama__nav__frame .fotorama__dot
  border: 0
  width: 8px !important
  height: 8px !important
  left: 9px
  background-color: #7f7f7f

.fotorama__nav__frame.fotorama__active .fotorama__dot
  background-color: white

.fotorama__nav--dots .fotorama__nav__frame
  width: 25px

.fotorama__nav-wrap
  position: absolute
  right: 20px
  bottom: 25px

.fotorama__nav
  float: right
  width: auto !important
