.filter-colors
  margin-left: -9px
  margin-top: @margin-left
  font-size: 0

  &__item
    position: relative
    display: inline-block
    width: 20px
    height: @width
    margin: 9px
    cursor: pointer

    input
      position: absolute
      left: -9999px
      visibility: hidden

  &__bg
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    border-radius: 100%

    .filter-colors__item_checked &
      left: -6px
      top: @left
      right: @left
      bottom: @left
