.pager
  text-align: center
  margin: 45px 0

  &__item
    display: inline-block
    width: 27px
    height: @width
    line-height: @width
    text-align: center
    white-space: nowrap
    border-radius: 100%
    margin: 0 5px
    transition: background-color 0.2s ease

    &:hover
      background-color: #f2f2f2

    &_current
      background-color: #8a553b
      color: white
