.cart-popup
  width: 400px

  &__caption
    padding: 12px
    font-size: 11px
    text-align: center
    text-transform: uppercase

  &__footer
    padding: 16px
    text-align: center

  &__submit
    width: 100%

  &__empty
    display: none
    padding: 10px

    font-size: 15px
    text-align: center


.cart-popup_empty
  width: auto

  .cart-popup__empty
    display: block

  .cart-popup__list
  .cart-popup__caption
  .cart-popup__footer
    display: none
