.cart-popup
  width: 400px

  &_empty
    display: none

  &__caption
    padding: 12px
    font-size: 11px
    text-align: center
    text-transform: uppercase

  &__footer
    padding: 16px
    text-align: center

  &__submit
    width: 100%

