.about
  margin: 40px 0

  &:after
    content: ''
    display: block
    clear: both

  &__caption
    color: #8a553b
    font-size: 24px
    line-height: 33px
    margin-bottom: 20px

  &__content
    margin: 16px 0
    line-height: 20px

  &__image
    box-sizing: border-box
    width: 100%

    img
      max-width: 100%
      height: auto

.page__caption + .about .about__image
  margin-top: -85px
