.catalog
  position: relative
  margin: 10px -10px 0 -10px
  height: 100px

  &__spin
    position: absolute
    width: 32px
    height: 32px
    margin: auto
    left: 0
    top: 0
    right: 0
    bottom: 0

  &_ready &__spin
    display: none

  &__sizer
    width: 20%

  &__item
    visibility: hidden
    display: inline-block
    vertical-align: top
    width: 20%

    &_big
      width: 40%

  &_ready &__item
    visibility: visible

  &_small &__item
  &_small &__sizer
    width: 25%

  &_small &__item_big
    width: 50%
