.link_icon_edit
  display: inline-block
  margin-left: 18px

  &:before
    content: ''
    position: absolute
    left: -18px
    top: 50%
    width: 18px
    height: @width
    margin-top: -0.5 * @height
    background: url('edit.svg') left center no-repeat
