.main-content
  padding: 30px 0

  &_order-done
  &_order
    background-color: #f7f7f7
    border-bottom: 1px solid #e0e0e0

  &__wrapper:after
    content: ''
    display: block
    clear: both

  &__aside
    float: left
    width: 220px
    padding-right: 20px

  &__content
    margin-left: 240px

  &__wrapper_aside-right &__aside
    float: right
    padding-right: 0
    padding-left: 20px

  &__wrapper_aside-right &__content
    margin-left: 0
    margin-right: 240px

  &__select
    margin-top: 10px
    float: right

    & + .page__caption
      margin-right: 50%
