.footer
  width: 960px
  padding: 25px 0
  margin: 0 auto

  &__copy
    display: inline-block

  &__address
    display: inline-block
    vertical-align: middle
    margin-left: 129px

  &__creator
    float: right
