.checkbox

  &_type_color
    width: 20px
    height: 20px

  &_type_color &__control
    position: absolute
    left: -9999px
    visibility: hidden

  &_type_color &__color
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    border-radius: 100%

  &_checked&_type_color &__color
    left: -6px
    top: @left
    right: @left
    bottom: @left
