.button_theme_parket.button_view_plain
  border-radius: 3px
  padding: 12px 0

  border: 0
  color: white
  background-color: #423525

  font-size: 12px
  line-height: 18px

  text-transform: uppercase
  letter-spacing: 1px
  transition: background-color 0.2s ease

  &:hover
    background-color: #5c4d3a

  .button__text
    padding: 0 24px

  &.button_disabled
    background: lightgray
    color: black
    cursor: default
