.delivery
  margin: 25px 0
  padding-top: 260px
  padding-right: 20%
  background: url('bg.svg') no-repeat

  p
    margin-top: 12px
    margin-bottom: @margin-top

  &__caption
    font-size: 22px
    line-height: 26px

  &__item-caption
    font-size: 16px
    line-height: 23px

  &__items
    display: flex
    justify-content: space-between
    margin: 20px 0

  &__item
    display: inline-block
    width: 50%
