.order-label-group
  margin: 30px 40px 30px 0
  padding-left: 140px

  &:after
    content: ''
    display: block
    clear: both

  &__input_type_phone
    margin-right: 115px

  &__label
    width: 140px
    float: left
    margin-left: -140px
    line-height: 35px
