.popup_theme_parket
  border-radius: 4px

  .menu
    border-radius: 4px

  .menu-item
    font-size: 14px
    line-height: 17px
    padding: 8px 12px
    cursor: pointer
    transition: background-color 0.2s ease

    &_hovered
      background-color: #f2f2f2

    &_checked
      background: #8a553b
      color: white
