.popup_theme_parket
  border-radius: 4px

  .menu
    border-radius: 4px

  .menu-item
    font-size: 14px
    line-height: 17px
    padding: 8px 12px
    cursor: pointer

    &_checked
    &_hovered
      background: #8a553b
      color: white
