.card-calc
  font-size: 17px
  margin: 42px 0

  &__item
    margin-right: 8px

  &__eql
    display: inline-block
    vertical-align: middle
    height: 10px
    width: 26px
    margin: 0 25px
    font-size: 0
    border-top: 2px solid black
    border-bottom: @border-top
    opacity: 0.2
