.filter-clear
  position: relative
  line-height: 20px
  padding-left: 25px
  cursor: pointer
  opacity: 0.6
  transition: opacity 0.2s ease

  &:hover
    opacity: 1

  .icon
    position: absolute
    left: 0
    top: 0
