.address-pin
  position: relative
  padding-top: 65px

  @media phone
    padding-left: @padding-top
    padding-top: 0

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 48px
    height: 68px
    background: url('pin.svg') no-repeat

  &__caption
    font-weight: bold
    font-size: 16px
    line-height: 23px
    margin: 10px 0

    @media phone
      margin-bottom: 5px

  &__text
    font-size: 13px
    line-height: 15px

    @media phone
      font-size: 12px
