link()
  position: relative
  color: #0073d1
  border-bottom: 1px solid rgba(0, 96, 160, .2)
  transition: border-bottom-color 0.2s ease

  &:hover
    border-bottom-color: rgba(0, 96, 160, 0)

.link
  link()
