.order-sum
  margin: 20px 0

  &__caption
    font-size: 16px
    line-height: 23px
    margin: 20px 0

  &__item
    margin: 10px 0
    white-space: nowrap

  &__term
  &__price
    display: inline-block
    width: 50%
    vertical-align: bottom

  &__price
    position: relative
    text-align: right

    .rub
      margin-left: 4px

    &_sum
      font-size: 27px
      line-height: 1
      font-weight: bold
