.aside-menu-item
  margin: 4px 0

  &__link
    display: inline-block
    color: #423525
    padding: 7px 10px
    font-size: 15px
    line-height: 21px
    border-radius: 3px
    transition: background-color 0.2s ease

    &:hover
      background-color: #f2f2f2

    .aside-menu-item_active > &
      color: white
      background-color: #8a553b
