.company-info
  border-top: 1px solid #e0e0e0

  &__item
    margin-top: 40px

    @media phone
      margin-top: 20px

  &__caption
    font-weight: bold
    font-size: 22px
    line-height: 26px
    margin-bottom: 24px

  &__subcaption
    font-weight: bold
    font-size: 16px
    line-height: 23px
    margin-bottom: 14px

  &__text
    line-height: 20px

    p
      margin: 1em 0

      &:first-child
        margin-top: 0

  &__content
    position: relative
    margin: 0 160px 0 320px

    @media phone
      margin: 0

    &:after
      content: ''
      display: block
      clear: both

  &__image
    float: left
    width: 290px
    margin-left: -320px
    margin-bottom: 1em

  &__address
    position: absolute
    top: 0
    right: -160px
    width: 140px

    @media phone
      margin: 30px 0

  &__image
  &__address
    @media phone
      margin-right: 0
      margin-left: 0
      position: relative
      right: auto
      float: none
